<!DOCTYPE html>
<html>
<head>
  <title>AuthBoilerplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to 'Login', login_path %> or <%= link_to 'Sign Up', signup_path %>
  <% end %>
  
  <% flash.each do |key,msg| %>
    <div class="flash-<%= key %>">
      <span><%= msg %></span>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>
