<!DOCTYPE html>
<html>
<head>
  <title>AuthBoilerplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key,msg| %>
    <div class="flash-<%= key %>">
      <span><%= msg %></span>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>
